.App {
  text-align: center;
  min-height: 700vh;
}

body {
  padding-top: 80px;
}

#root {
  height: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.label {
  padding: 5px 0px 5px 0px;
}

.label-box {
  justify-content: center;
  align-content: flex-start;
}

.label-button {
  margin: 4px;
}

.labelstart {
  border-radius: 3px 0 0 3px;
  /* padding-left: 2px; */
}

.labelend {
  border-radius: 0 3px 3px 0;
  /* padding-right: 2px; */
}

.labelsingle {
  border-radius: 3px;
  /* padding-right: 2px; */
  /* padding-left: 2px; */
}

.O {
  background-color: transparent;
}

.custom-btn {
  border: 0px;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.sentence:nth-child(even) {
  background: #f8f8f8;
}
.sentence:nth-child(odd) {
  background: #fff;
}

.sentence {
  padding-bottom: 5px;
  line-height: 1.8;
}

.sentence-badge {
  margin-right: 7px;
}

.token {
  color: black;
  /* padding-right: 1px; */
  /* padding: 2px 0px 2px 0; */
  border: 1px solid transparent;
}

.spacer {
  border: 1px solid transparent;
  /* border-bottom: 1px solid transparent; */
  /* padding: 2px 0px 2px 0; */
}

.highlightsingle {
  border: silver solid 1px;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.highlightstart {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  border-left: 1px solid silver;
  border-right: 0px solid transparent;
  padding-right: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px 0 0 3px;
}

.highlighted {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* border-right-color: transparent; */
  /* border-left-color: transparent; */
}

.highlightend {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  border-left: 0px solid transparent;
  padding-left: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 1px solid silver;
  border-radius: 0 3px 3px 0;
}

.nocopy {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
}

.annotateddoc {
  background-color: green;
}
