attrs==21.2.0
click==8.0.1
conllu==4.4.1
Flask==1.0.2
Flask-Cors==3.0.7
Flask-JWT==0.3.2
Flask-Login==0.5.0
Flask-Session==0.3.1
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mongomock==3.23.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
PyJWT==1.4.2
pymongo[srv]==4.0.1
pyparsing==3.0.6
pytest==6.2.5
PyYAML==5.4.1
sentinels==1.0.0
six==1.16.0
SQLAlchemy==1.4.23
toml==0.10.2
Werkzeug==2.0.1
