attrs==21.2.0
blis==0.7.5
catalogue==2.0.6
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.1
conllu==4.4.1
cymem==2.0.6
dnspython==2.1.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.2.0/en_core_web_md-3.2.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
Flask==1.0.2
Flask-Cors==3.0.7
Flask-JWT==0.3.2
Flask-Login==0.5.0
Flask-Session==0.3.1
idna==3.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
langcodes==3.3.0
MarkupSafe==2.0.1
mongomock==3.23.0
murmurhash==1.0.6
numpy==1.21.5
packaging==21.3
pathy==0.6.1
pluggy==1.0.0
preshed==3.0.6
py==1.11.0
pydantic==1.8.2
PyJWT==1.4.2
pymongo==4.0.1
pyparsing==3.0.6
pytest==6.2.5
PyYAML==5.4.1
requests==2.26.0
sentinels==1.0.0
six==1.16.0
smart-open==5.2.1
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
SQLAlchemy==1.4.23
srsly==2.4.2
thinc==8.0.13
thinc-apple-ops==0.0.5
toml==0.10.2
tqdm==4.62.3
typer==0.4.0
typing_extensions==4.0.1
urllib3==1.26.7
wasabi==0.9.0
Werkzeug==2.0.1
